@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-mono: Geist Mono;
  --font-serif: Georgia;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.967 0.0029 264.5419);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(0.9851 0 0);
  --card-foreground: oklch(0.1448 0 0);
  --popover: oklch(0.9851 0 0);
  --popover-foreground: oklch(0.1448 0 0);
  --primary: oklch(0.6959 0.1491 162.4796);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.9551 0 0);
  --secondary-foreground: oklch(0.2046 0 0);
  --muted: oklch(0.9276 0.0058 264.5313);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9276 0.0058 264.5313);
  --accent-foreground: oklch(0.2046 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9197 0.004 286.3202);
  --input: oklch(0.9851 0 0);
  --ring: oklch(0.7118 0.0129 286.0665);
  --chart-1: oklch(0.6959 0.1491 162.4796);
  --chart-2: oklch(0.6056 0.2189 292.7172);
  --chart-3: oklch(0.7686 0.1647 70.0804);
  --chart-4: oklch(0.6559 0.2118 354.3084);
  --chart-5: oklch(0.6231 0.188 259.8145);
  --sidebar: oklch(0.967 0.0029 264.5419);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.6959 0.1491 162.4796);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9276 0.0058 264.5313);
  --sidebar-accent-foreground: oklch(0.2046 0 0);
  --sidebar-border: oklch(0.9197 0.004 286.3202);
  --sidebar-ring: oklch(0.7118 0.0129 286.0665);
  --destructive-foreground: oklch(0.9851 0 0);
  --font-sans: var(--font-satoshi);
  --font-serif: Georgia;
  --font-mono: Geist Mono;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0.05;
  --shadow-blur: 6px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 6px -2px hsl(0 0 0 / 0.03);
  --shadow-xs: 0 1px 6px -2px hsl(0 0 0 / 0.03);
  --shadow-sm:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 1px 2px -3px hsl(0 0 0 / 0.05);
  --shadow: 0 1px 6px -2px hsl(0 0 0 / 0.05), 0 1px 2px -3px hsl(0 0 0 / 0.05);
  --shadow-md:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 2px 4px -3px hsl(0 0 0 / 0.05);
  --shadow-lg:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 4px 6px -3px hsl(0 0 0 / 0.05);
  --shadow-xl:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 8px 10px -3px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0 1px 6px -2px hsl(0 0 0 / 0.13);
  --tracking-normal: normal;
}

.dark {
  --background: oklch(0.1286 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.1591 0 0);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1591 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.6959 0.1491 162.4796);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.2046 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.235 0 0);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.235 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.2046 0 0);
  --ring: oklch(0.4386 0 0);
  --chart-1: oklch(0.6959 0.1491 162.4796);
  --chart-2: oklch(0.6056 0.2189 292.7172);
  --chart-3: oklch(0.7686 0.1647 70.0804);
  --chart-4: oklch(0.6559 0.2118 354.3084);
  --chart-5: oklch(0.6231 0.188 259.8145);
  --sidebar: oklch(0.1286 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.6959 0.1491 162.4796);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.235 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.4386 0 0);
  --destructive-foreground: oklch(0.9851 0 0);
  --radius: 0.5rem;
  --font-sans: var(--font-satoshi);
  --font-serif: Georgia;
  --font-mono: Geist Mono;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0.05;
  --shadow-blur: 6px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 6px -2px hsl(0 0 0 / 0.03);
  --shadow-xs: 0 1px 6px -2px hsl(0 0 0 / 0.03);
  --shadow-sm:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 1px 2px -3px hsl(0 0 0 / 0.05);
  --shadow: 0 1px 6px -2px hsl(0 0 0 / 0.05), 0 1px 2px -3px hsl(0 0 0 / 0.05);
  --shadow-md:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 2px 4px -3px hsl(0 0 0 / 0.05);
  --shadow-lg:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 4px 6px -3px hsl(0 0 0 / 0.05);
  --shadow-xl:
    0 1px 6px -2px hsl(0 0 0 / 0.05), 0 8px 10px -3px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0 1px 6px -2px hsl(0 0 0 / 0.13);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
